extends layout

block content
	body(ng-app="teambuilder")
		h1 welcome to pasta
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-aria.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-sanitize.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js')
		script(src='https://ajax.googleapis.com/ajax/libs/angular_material/1.0.3/angular-material.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
		script(src='/javascripts/teambuilder.js')

		div(ng-controller="MainCtrl as m")

			p(ng-bind="test")
			div(ui-view)

			input(ng-model="move1" ng-keyup="findRelMoves($event)")

			//-p(ng-bind-html="relMoves")
			p(ng-bind="keystrokes")

			div(ng-repeat="move in m.moveDex")
				table
					tr
						td
							a(href="" ng-click="fillInput(move.name)")
								span(ng-bind="move.name")

			//-p(ng-bind="move1")